/*p, button*/
@font-face {
  font-family: 'LexendDeca';
  src: url('./fonts/LexendDeca-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*title font*/
@font-face {
  font-family: 'BigShouldersDisplay';
  src: url('./fonts/BigShouldersDisplay-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BigShouldersDisplay-Bold';
  src: url('./fonts/BigShouldersDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    min-width: 1150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header, footer{
    height: 48px;
    width: 100%;
    flex-shrink: 0;
}

main{
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width: fit-content;

    display: flex;
    flex-direction: row;
}

.car-block{
    width: 350px;
    height: 570px;
}

.car-block img{
    margin-left: 50px;
    margin-top: 50px;

    width: 80px;
}

.first{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.first button{
    color: hsl(31, 77%, 52%);
}

.second{
    background-color: hsl(184, 100%, 22%);
}

.second button{
    color: hsl(184, 100%, 22%);
}

.third{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.third button{
    color: hsl(179, 100%, 13%);
}

.car-title{
    color: hsl(0, 0%, 90%);

    font-family: "BigShouldersDisplay-Bold", sans-serif;

    margin-left: 55px;
    margin-bottom: 30px;
    font-size: 45px;
}

.car-desc{
    color: hsla(0, 0%, 100%, 0.55);

    font-family: "LexendDeca", sans-serif;
    line-height: 1.6;

    margin-top: 0px;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 17px;
}

button {
  background-color: hsl(0, 0%, 95%);              
  border: none;                 
  height: 55px;   
  width: 170px;                 
  font-size: 17px;           
  cursor: pointer;               
  font-family: 'LexendDeca', sans-serif; 

  border-radius: 30px;

  margin-top: 70px;
  margin-left: 55px;
}

@media (max-width: 512px) {

    body{
        width: 100%;
        min-width: 350px;
    }

    .form{
        flex-direction: column;
    }

    .first{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .third{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

}